
@media screen and (min-width:800px) and (max-width:1200px) {
    .bx{
        width: auto;
    }
    .celan {
        display: none;
    }
    header {
        width: 100%;
        margin: auto;
    }
    .logo {
        width:100%;
        margin: auto;
    }
    .logo .ssk {
        display: none;
    }
    .daohang1 {
        width:100%;
        margin: auto;
    }
    .sy1 .div1 {
        display: none;
    }
    .sy1 .div2 {
        width:100%;
        margin: auto;
        float: none;
    }
    .sy1 .div2 img {
        margin: auto;
        margin-top: 20px;
    }
    .sy2 .div1 {
        display: none;
    }
    .sy2 .div2 {
        width: 80%;
        height: 130px;
        float: none;
        margin-left: 55px;
    }
    .sy3 {
        width:100%;
    }
    .sy4 {
        width:100%;
    }
    .sy4 .div1 {
        float: none;
        margin: auto;
    }
    .sy4 .div2 {
        float: none;
        margin: auto;
    }
    .sy5 .div1 {
        display: none;
    }
    .sy5 .div2 {
        float: none;
        margin: auto;
        margin-left: 160px;
    }
    .sy6 .div2 .hz1{
        display: none;
    }
    .sy6 .div2 .hz2 {
        float: none;
        margin-top: 52px;
    }
    .weibu {
        width:100%;
    }
    footer {
        width:100%;
    }
}
@media screen and (min-width:400px) and (max-width:800px) {
    .bx{
        width: auto;
    }
    .celan {
        display: none;
    }
    header {
        width: 100%;
        margin: auto;
    }
    .logo {
        width:100%;
        margin: auto;
    }
    .logo .ssk {
        display: none;
    }
    .daohang1 {
        width:100%;
        margin: auto;
    }
    .sy1 .div1 {
        display: none;
    }
    .sy1 .div2 {
        width:100%;
        margin: auto;
        float: none;
    }
    .sy1 .div2 img {
        margin: auto;
        margin-top: 20px;
    }
    .sy2 .div1 {
        display: none;
    }
    .sy2 .div2 {
        width: 80%;
        height: 130px;
        float: none;
        margin-left: 55px;
    }
    .sy3 {
        width:100%;
    }
    .sy4 {
        width:100%;
    }
    .sy4 .div1 {
        float: none;
        margin: auto;
    }
    .sy4 .div2 {
        float: none;
        margin: auto;
    }
    .sy5 .div1 {
        display: none;
    }
    .sy5 .div2 {
        float: none;
        margin: auto;
        margin-left: 160px;
    }
    .sy6 .div2 .hz1{
        display: none;
    }
    .sy6 .div2 .hz2 {
        float: none;
        margin-top: 52px;
    }
    .weibu {
        width:100%;
    }
    footer {
        width:100%;
    }
}