
@media screen and (max-width:996px){
    .logo .ssk {
        display: none;
    }
    .sy1 .div2 {
        width: 560px;
        height: 255px;
    }
    .sy1 .div2 .lbt123 img {
        width: 560px;
        height: 255px;
    }
    /* #ul1  {
        display: none;
     } */

}
@media screen and (max-width:768px){
    #ul1  {
        display: none;
     }
     header .div1-2 {
        display: none;
     }
}